[submodule "pyflakes-pathogen"]
	path = pyflakes-pathogen
	url = https://github.com/mitechie/pyflakes-pathogen.git
[submodule "vim-latex-vim-latex"]
	path = vim-latex-vim-latex
	url = git://git.code.sf.net/p/vim-latex/vim-latex
